html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-logo {
    height: 92px;
    width: 272px;
}

.main-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.central-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.search-form {
    margin-top: 1em;
}

.search-input-box {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.search-buttons {
    margin-top: 1em;
}

.header {
    display: flex;
    margin: 0 2em 0 2em;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    background-color: rgb(242, 242, 242);
}

.footer-bottom {
    display: flex;
    width: 50em;
    justify-content: space-around;
}