html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.main-logo {
    height: 92px;
    width: 272px;
}

.main-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.central-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.search-form {
    margin-top: 1em;
}

.search-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    border-radius: 30px;
    width: 487px;
    height: 34px;
    border-width: 1px;
    border-color: rgb(228, 229, 233);
    border-style: solid;
}

.search-buttons {
    margin-top: 1em;
}

.header {
    display: flex;
    margin: 0 2em 0 2em;
    justify-content: space-between;
    padding: 6px;
    font-size: small;
}

.header-top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    background-color: rgb(242, 242, 242);
    font-size: small;
    padding-bottom: 1em;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

.footer-bottom {
    display: flex;
    width: 50em;
    justify-content: space-around;
}

.footer-top {
    display: flex;
    align-items: center;
}

.footer-leaf {
    height: 14px;
    width: 12px;
    margin-right: 4px;
}

.search-input-box-actual {
    width: 400px;
    height: 32px;
    border-style: hidden;
    font-size: medium;
}

.header-top-left {
    display: flex;
    justify-content: space-around;
}

.header-top-left > * {
    margin-left: 15px;
    color: black;
}

.header-top-right > * {
    margin-right: 15px;
    color: black;
}

.sign-in-button {
    height: 36px;
    width: 96px;
    background-color: rgb(35, 118, 229);
    border-radius: 5px;
    color: white;
    border-style: solid;
    border-width: 0px;
    font-size: medium;
}

.footer-bottom-left > * {
    margin-right: 15px;
    color: #70757a;
}

.footer-bottom-right > * {
    margin-left: 15px;
    color: #70757a;
}

.footer-top > * {
    color: #70757a;
}

.search-buttons > * {
    margin: 0 4px 0 4px;
    border-style: solid;
    border-width: 0px;
    height: 36px;
    width: 127.41px;
    border-radius: 5px;
    background-color: rgb(248, 249, 250);
    font-size: small;
}

.div-svg-header-top-right {
    height: 19px;
    width: 19px;
}

.svg-header-top-right {
    height: 16px;
    width: 16px;
    fill:#70757a;
}

.rect-header-top-right {
    height: 4px;
    width: 4px;
}

.logo-search-magnifying-lens {
    margin-left: 1em;
    fill:#70757a;
}

.logo-search-microphone {
    margin-right: 1em;
}

input:focus {
    outline: none;
}

.search-input-box:hover {
    box-shadow: 0 1px 6px 0 rgb(32, 33, 36, .28);
}

.search-button-actual:hover {
    box-shadow: 0 1px 6px 0 rgb(32, 33, 36, .28);
}

.svg-header-top-right:hover {
    fill: black;
}